.work-sans-font {
   font-family: "Work Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

/* shared Styles */
.display-flex {
   display: flex;
   gap: 40px;

}

main>section {
   margin-top: 130px;
}

/* Header Styles */

/* Navbar Styles */
.navbar {
   /* display: flex; */
   justify-content: space-between;

   align-items: center;
}

.band {
   font-weight: 700;
   font-size: 3rem;
}

.nav-item {
   list-style: none;
   margin-right: 30px;
}

.nav-link {
   text-decoration: none;
   /* font-size: 18px; */
   /* medium mean font weight 500px */
   font-weight: 500;

}

.nav-item-font-color {
   /* dark 02 */
   color: #424242;
}

.bg-ligh {
   background-color: rgba(255, 144, 14, 0.1);

}

.btn-primary {
   background-color: rgba(255, 144, 14, 1);
   color: white;
   padding: 20px 25px;
   /* top bottom 20px and left right 25px */
   font-size: 1.25em;
   font-weight: 600;
   /* Semi bold mean 600px */
   border: none;
   border-radius: 8px;
}

.navbar,
.banner {
   max-width: 1440px;
   /* for central align top bottom 0 and left right auto */
   margin: 0 auto;
}

/* Banner Related Style */
.banner-content {
   /* max-width: 862px; */
   width: 862px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;

}

.banner-title {
   font-weight: 700;
   font-size: 4rem;
   /* font 64px so 64/14=4rem */
   color: #131313;
}

.banner-description {
   font-size: 1rem;
   color: #727272;
   /* dark 3 */
}

.banner-image {
   width: 100%;
}

/* Team And feature related Style */
.teams {
   align-items: center;
}

.team-img-continer {
   /* image gap remove */
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;

   /* when we dont use grid then gap doesn't work */
}

.our-features {
   padding-left: 130px;
   max-width: 537px;
}

#quick-list {
   /* dark 3  */
   color: #727272;
}

.feature-color {
   color: rgba(255, 144, 14, 1);
}

.section-tittle {
   padding-bottom: 24px;
   font-weight: 468;
   font-size: 2.9rem;

}

.features-description {
   padding-bottom: 32px;
   font-size: 16px;
}

/* feature Section Related Style  */
#feature-section-title{
   border-left: 5px solid #FF900E;
   padding-left: 20px;
}
.feature-card .feature-title{
   font-size:1.25rem;
   font-weight: 600;
   /* Dark 1 */
   color: #131313;

}
.features .section-title{
   color: #131313;
   font-size: 2.8rem;
   }
   
.feature-card {
  padding: 30px;
  margin: 30px;
  color: #ffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* shadow code */
}
.features{
   gap: 140px;
}
#Experence-badge{
padding: 45px 42px;
font-weight: 500;
margin-left: -70px;
margin-top: -120px;

}
.feature-architec{
   width: 100%;
}



.facts-continer {
   display: grid;
   grid-template-columns: repeat(4, 1fr);

}

.fact-card {
   border: 1px solid #FF900E;
   width: 240px;
   height: 240px;
   border-radius: 8px;
   text-align: center;
   align-items: center;
   justify-content: center;

}

.fact-number {
   font-size: 2.8rem;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 5px;
}

.fact-name {
   color: #727272;
   font-size: 1.25rem;
   font-weight: 600;
   margin-top: 5px;
}

.fact-description {
   max-width: 540px;
   font-size: 1rem;
   color: #727272;
   /* margin-top: 24px; */
   margin-bottom: 104px;

}

/* Responsor relatedd style  */
.our-sponsors {
   max-width: 542px;
   margin: 100px auto;
   text-align: center;
}

.sponsor-companies {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   justify-content: center;
   /* padding-left: 200px;
padding-right: 200px; */
   gap: 130px;
}

.sponsor-companies img {
   filter: grayscale(100%);
}
.footer {
    display: flex;
    justify-content: center;
}
.footer-discription{
   background-color: rgba(255, 244, 231, 1);
   padding: 20px 70px;
   border-radius: 8px;
   font-size: 1.2rem;
   
}
/* Responsive Media Query */
@media screen and (max-width : 576px) {

   .navbar,
   .nav-links,
   .teams,
   .features,
   .facts-continer,
   .footer {
      flex-direction: column;
   }

   #Experence-badge{
   margin-top: -90px;
   margin-left: -20px;
   padding-bottom: 10px;
   padding-top: 10px;
   }
   .banner-content {
      width: 100%;

   }

   .banner-title {
      font-size: 2rem;
   }

   .btn-primary {
      padding: 12px 20px;
      font-size: 1rem;
   }

   .bg-ligh {
      background-color: rgba(255, 144, 14, 0.1);
      min-height: 100vh;
   }

   .team-img-continer,
   .facts-continer,
   .sponsor-companies {
      grid-template-columns: repeat(1, 1fr);
   }

   .facts-continer {
      justify-items: center;
      gap: 24px;
   }

   .sponsor-companies {
      justify-items: center;
      gap: 50px;
   }

   .our-features {
      margin-left: 10px;
      padding-left: 10px;
   }
   .footer-discription{
   background-color: rgba(255, 244, 231, 1);
   padding: 10px 30px;
   border-radius: 8px;
   font-size: 0.9rem;
}

@media screen and (min-width:576px) and (max-width : 992px) {
   .teams {
      flex-direction: column;
   }

   .our-features {

      margin: 50px auto;
   }

   .sponsor-companies {
      grid-template-columns: repeat(2, 1fr);
   }

   .facts-continer {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
   }

   .some-facts,
   .fact-description {
      text-align: center;
      margin: 50px auto;
   }
}